.generale{
    text-align: center;
    margin-top: 18%; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 140%;
    margin-left:25%;
    margin-right: 25%;
    width:260px;
}

.dettaglio{

    margin-top: 8%; 
    width : 50%;
    
}
.image{
    height: 40%;
    width: 40%;
    min-width: 120px;
    margin-top: 5%;
    display: block;
    margin: auto;
}

.generale1{
    height: 780px;
    position:relative;
    
}


.container{
    display: flex;
    align-items: center;
    width:48rem;
    height: 48rem;
    margin-left: 35%;
}

.center{
    left: 50%;
    margin: 0;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

}